* { /*Establecer estilos universales*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana, arial;
	background: -webkit-linear-gradient(left, #ff0000, #60caa4); 
    background: -o-linear-gradient(right, #65FF2E, #00FEFE);
}

.container {
    width: 85%;
    margin: 0 auto;
}

.logo-nav-container { 
    display: flex;
    justify-content: space-between;
}

.navigation{
    margin-top: 20px;
}

.menu-container li {
    list-style: none;
}

.center-logo {
    text-align: center;
}

.main {
    text-align: center; /* Centrado temporal */
}

.footer {
    text-align: center;
}