.iframe-container {
    text-align: center;
}

.iframe {
    width: 90%;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(122, 122, 122);
    margin-bottom: 40px;
}

.center-logo{
    padding: 30px 0;
}

.footer {
    margin-top: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .iframe {
        width: 97%;
    }
}